
NODE_ENV=development
DATABASE_URL=postgresql://connekt:connekt@postgres:5432/connekt_hunter?schema=public
REDIS_URL=redis://redis:6379
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_BUCKET=connekt-hunter-dev
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
MAILHOG_SMTP_URL=smtp://mailhog:1025
MAILHOG_UI_URL=http://mailhog:8025
